<div class="row">
	<div class="col-sm-8 col-md-offset-2 well">
		<h4>
			Create Blog
		<hr>
		</h4>
		<% user = current_user %>
		<%= form_for(@blog, html: { multipart: true } ) do |f| %>
			<div>
				<%= label_tag "title" %>
				<%= f.text_field :title , class: "form-control" ,required: "required" ,placeholder: "Enter Blog Title" %>
				<br>
				<%= label_tag "content" %>
				<%= f.text_area :content , class: "form-control",required: "required" ,placeholder: "Enter Blog Content" %>
				<br>
				<%= label_tag "image url" %>
				<%= f.file_field :image , class: "form-control",required: "required" ,placeholder: "Enter Image Url" %>
				<%= f.hidden_field :user_id, value: user.id %>
				<br>
			</div>
			<%= f.submit "Create blog", class: "btn btn-success" %>
		<%end%>
	</div>
</div>