<div class="jumbotron main">
	<h1>My Blogs</h1>
	<p>Explore Your Blogs</p>
</div>
<% @blog.each do |b| %>
<br>
<div class="row">
	<div class="col-sm-8 col-md-offset-2 well">
		<div class="row title"  >
			<div class="col-sm-3">
				By :- <i><%= b.user.name %></i>
			</div>	
			<div class="col-sm-4"></div>
			<div class="col-offset-3">
				Created At :-  <i><%= b.created_at %></i>
			</div>
		</div>
		<h4  ><%= b.title %></h4>		
		<div>
			<%= b.content %>
		</div>
		<div align="center">
			<img src="<%= b.image %>" width="400px" height="300" alt="">
		</div>
		<div align="right">
			<%= form_for( b, :url=> blogs_path(b), :method => "delete" )do |f| %>
				<%= f.hidden_field :id ,value: b.id %>
				<%= f.submit "Delete", class: "btn btn-danger" %>
			<%end%>
		</div>
	</div>
</div>
<%end%>