<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to('Rails Simple Auth','#',:class=>"navbar-brand") %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Home' , '/'  %>
            </li>
            <% if !logged_in? %>
                <li>
                  <%= link_to 'Login' , login_path %>
                </li>
                <li>
                  <%= link_to 'SignUp' , users_path  %>
                </li>
            <%else%>
                <li>
                  <%= link_to 'Profile' , profile_path %>
                </li>
                <li>
                  <%= link_to 'Create Blog' , new_blogs_path %>
                </li>
              
                <li>
                  <%= link_to 'Logout',logout_path , method: :delete  %>
                </li>
            <%end%>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      
      <% flash.each do |type,message| %>
        <div class="alert alert-<%= type %>"><%= message %></div>
      <%end%>
      <%= yield %>
    </div>

  </body>
</html>
